@import '../../variables.css';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    /* background: var(--second-color); */
    padding: 15px;
    border-radius: 8px;
    width: 40%;
    height: 70%;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-content h2 {
    font-family: 'duality', cursive;
    color: black;
}

.modal-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image, .modal-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-text {
    position: relative;
    top: 7dvh;
    font-family: 'duality', cursive;
    font-size: 17px;
    font-weight: bolder;
}

.modal-text.patigot {
    font-size: 14px;
    top: 4dvh;
}

.modal-price {
    font-family: 'duality', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: black;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.navigation button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

.navigation button:hover {
    color: rgba(255, 255, 255, 1);
}

