@import '../../variables.css';

.header {
  width: 98%;
  border-radius: 10px;
  margin-top: 5px;
  background-color: transparent;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  color: black;
  width: 124px;
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 1000;
}

.nav-links {
  display: none;
}

.nav-links a {
  color: var(--secondary-color);
  transition: color 0.3s ease;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
}

.nav-links a:hover {
  color: var(--third-color);
}

.nav-links a:first-child {
  color: var(--third-color);
  transition: color 0.3s ease;
}

.nav-links a:first-child:hover {
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .nav-links {
      display: flex;
      gap: 20px;
  }

  .menu-icon {
      display: none;
  }

  .header-container {
      padding: 10px 40px;
  }
}

@media (min-width: 1025px) {
  .header-container {
      padding: 10px 60px;
  }
}

@media (max-width: 767px) {
  .header-container {
      flex-direction: column;
  }

  .menu-icon {
      right: 10px;
      top: 10px;
      width: 48px;
  }
}

@media (max-width: 500px) {
  .menu-icon {
      right: 5px;
      top: 5px;
      width: 40px;
  }
}
