body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.mentions-legales {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: black;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.mentions-legales h1 {
    text-align: center;
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #D7C595;
    border-radius: 4px;
}

.section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: var(--second-color);
    border-bottom: 2px solid var(--third-color);
    padding-bottom: 5px;
}

.section p {
    margin: 10px 0;
    line-height: 1.6;
    color: #555;
}

.section a {
    color: var(--third-color);
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}
