.footer {
    width: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 5px;
}

.footer-content {
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: transparent;
}

.copyright {
    flex: 1;
    text-align: left;
    font-size: 1.2em;
    color: #fff;
}

.legal {
    flex: 1;
    text-align: start;
    font-size: 1.2em;
}

.legal a {
    color: #fff;
    text-decoration: underline;
}

.social-media {
    flex: 1;
    text-align: right;
    font-size: 1.2em;
}

.social-media-icons {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.social-media-icons img {
    width: 24px;
    height: 24px;
}
