.menu-container {
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    border-radius: 10px;
  }

  .menu-header {
    text-align: center;
  }

  .menu-header h2 {
    padding-top: 15px;
    display: flex;
    font-size: 44px;
    font-family: 'AlphaWood', cursive;
    color: var(--primary-color);
  }

  .prices p {
    background-color: var(--second-color);
    color: var(--third-color);
    display: inline-block;
    padding: 5px 10px;
    font-family: 'duality', cursive;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .prices span {
    font-weight: bold;
  }

  .menu-steps {
    display: grid;
    justify-content: center;
    color: black;
    font-family: 'duality', cursive;
    text-align: left;
    margin-top: 30px;
  }

  .menu-steps h3 {
    font-size: 20px;
    color: #f0c14b;
    text-align: center;
  }

  .menu-steps p {
    margin: 10px 0;
    font-size: 18px;
  }

  .menu-steps span {
    font-size: 14px;
    color: #ff5555;
  }

  .choices {
    margin-top: 30px;
  }

  .choices h2 {
    display: flex;
    padding-top: 15px;
    font-size: 44px;
    font-family: 'AlphaWood', cursive;
    color: var(--primary-color);
  }

  .menu-steps2 {
    display: grid;
    justify-content: center;
    color: black;
    font-family: 'duality', cursive;
    text-align: left;
    margin-top: 30px;
  }

  .menu-steps2 p {
    margin: 10px 0;
    font-size: 18px;
  }

  .menu-steps2 span {
    font-size: 14px;
    color: #ff5555;
  }

  .option {
    background-color: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    color: #f0c14b;
  }

  .ingredients {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
  }

  .ingredients p {
    font-size: 16px;
    color: #fff;
  }
