.App {
  text-align: center;
}

p {
  margin: 2px;
}

.content {
  position: relative;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/bcg-kings.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1; /* Placement du pseudo-élément en arrière-plan */
}

.darken {
  background-color: rgba(0, 0, 0, 0.5);
}
