:root {
    --primary-color: #5D4037; /* Brun foncé (fond boisé principal) */
    --secondary-color: #2E7D32; /* Vert foncé (accents et détails) */
    --third-color: #FFC107; /* Jaune doré (éléments lumineux et appels à l'action) */
}
