:root {
    --primary-color: #cb2f22; /* Rouge foncé (écriture Kings) */
    --secondary-color: #2E7D32; /* Vert foncé (accents et détails) */
    --third-color: #FFC107; /* Jaune doré (éléments lumineux et appels à l'action) */
}
